body{
    border: 2px solid black;
    width: 200px;
    padding: 20px;
}
.body1{
    width: 600px;
}
.id,
.email,
.create,
.update{
    border: 2px solid black;
    display: inline-block;
    margin: -2px;
}
.headID,
.heademail,
.headCreate,
.headUpdate{
    border: 1px solid black;
    background-color: lightgray;
    display: block;
    padding: 5px;
}
p{
    margin: 5px 15px;
}
submit{ 
    padding: 5px 20px;
}